/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Các CSS tùy chỉnh của bạn */
body {
  background: #000;
}

.login-container {
  background: rgba(0, 0, 0, 0.75);
  padding: 40px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.login-container h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #333;
  border: 1px solid #555;
  border-radius: 5px;
  color: white;
}

.login-btn:hover {
  background: darkred;
}
